<!--Page Header -->
<div class="d-flex flex-row justify-content-between page-header">
    <h4>انواع السيارات</h4>
    <p-button label="اضافة نوع" (click)="showAddDialog()"  styleClass="p-button-sm"></p-button>
</div>
<!-- List section -->
<main class="my-3">
    <p-table dir="rtl"  responsiveLayout="scroll" [value]="carBrands" [paginator]="true" [rows]="10" [totalRecords]="carBrands.length">
        <ng-template pTemplate="caption">
            <div class="table-header text-right">
                تصفية حسب
                <span class="p-input-icon-left filter-container">
                    <p-dropdown [showClear]="true" (onChange)="filterByCountry($event)" 
                    (onClear)="cancelFilter()"  appendTo="body" placeholder="بلد المنشأ" 
                    [options]="carCountries" [(ngModel)]="selectedFilterItem" 
                    optionLabel="country"></p-dropdown>
                </span>
            </div>
        </ng-template>    
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>النوع </th>
                <th>بلد المنشأ </th>
                <th>الاجرائات</th>
                <!-- <th></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-brand let-columns="columns">
            <tr>
                <td>{{brand.brand}}</td>
                <td>{{brand.country?.country   }}</td>
                <td class="actions-cell">
                    <!-- <i class="fa-solid fa-ellipsis" (click)="menu.toggle($event)"></i> -->
                    

                    <button type="button" pButton icon="pi pi-bars" label="" (click)="selectedItem = brand;menu.toggle($event)"></button>
                    
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="transparent-bkg" [attr.colspan]="carBrands.length">
                    لا توجد بيانات بعد
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                الاجمالي {{carBrands ? carBrands.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</main>
<!-- Actions menu -->
<p-menu #menu [popup]="true" [model]="actionList" appendTo="body"></p-menu>
<!-- Add modal -->
<p-dialog [dismissableMask]="true"  #addDialog header="اضافة نوع" [(visible)]="visibleAddDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newBrandForm" (ngSubmit)="onAddBrand()">
        <div class="form-group d-flex flex-row my-4">
            <p-dropdown appendTo="body" placeholder="بلد المنشأ" [options]="carCountries" formControlName="country" optionLabel="country"></p-dropdown>
        </div>
        <div class="form-group my-4">
            <input placeholder="اسم النوع" class="form-control py-4" formControlName="brandName">
        </div>
        
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onAddBrand()" label="اضافة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Update modal -->
<p-dialog [dismissableMask]="true"  #addDialog [header]=" 'تعديل '+ selectedItem.brand " [(visible)]="visibleUpdateDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newBrandForm" (ngSubmit)="onUpdateBrand()">
        <div class="form-group d-flex flex-row my-2">
            <p-dropdown appendTo="body" placeholder="بلد المنشأ" [options]="carCountries" formControlName="country" optionLabel="country"></p-dropdown>
        </div>
        <div class="form-group my-2">
            <input placeholder="اسم النوع" class="form-control py-4" formControlName="brandName">
        </div>
        
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onUpdateBrand()" label="حفظ" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- Archive modal -->
<p-dialog [dismissableMask]="true"  [header]="'ارشفة '+ selectedItem.brand " [(visible)]="visibleArchiveDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> هل انت متأكد انك تريد مسح هذا العنصر ؟ </p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onArchiveBrand()" label="ارشفة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Delete modal -->
<p-dialog [dismissableMask]="true"  [header]="'حذف '+ selectedItem.brand " [(visible)]="visibledeleteDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> سيتم حذف جميع المنتجات التابعة لهذا النوع , هل انت متأكد؟</p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onDeleteBrand()" label="حذف" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

