<!--Page Header -->
<div class="d-flex flex-row justify-content-between page-header">
    <h4>الموديلات</h4>
    <p-button label="اضافة موديل" (click)="showAddDialog()"  styleClass="p-button-sm"></p-button>
</div>
<!-- List section -->
<main class="my-3">
    <p-table dir="rtl"  
    rowGroupMode="rowspan" 
    groupRowsBy="carBrand_id" 
    sortField="carBrand_id" 
    sortMode="single" 
    responsiveLayout="scroll"
    [value]="carModels" 
    [paginator]="true" 
    [rows]="10" 
    [totalRecords]="carModels.length">
        <ng-template pTemplate="caption">
            <div class="table-header text-right">
                تصفية حسب
                <span class="p-input-icon-left  filter-container">
                    <p-dropdown [showClear]="true" (onChange)="filterByBrand($event)" 
                    (onClear)="cancelFilter1()"  appendTo="body" placeholder="نوع السيارة" 
                    [options]="carBrands" [(ngModel)]="selectedFilterItem" 
                    optionLabel="brand"
                    ></p-dropdown>
                </span>
                او
                <span class="p-input-icon-left  filter-container">
                    <p-dropdown [showClear]="true" (onChange)="filterByCountry($event)" 
                    (onClear)="cancelFilter2()"  appendTo="body" placeholder="بلد المنشأ" 
                    [options]="carCountries" [(ngModel)]="selectedFilterItem2" 
                    optionLabel="country"></p-dropdown>
                </span>
            </div>
        </ng-template>    
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>النوع</th>
                <th>الموديل </th>
                <th>الاجرائات</th>
                <!-- <th></th> -->
            </tr>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" pTemplate="body" let-model let-columns="columns"
        let-rowgroup="rowgroup" let-rowspan="rowspan">
            <tr>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                    <span *ngIf="model.brand">{{model.brand.brand? model.brand.brand :model.brand }}</span>
                    <span *ngIf="!model.brand">{{model.carBrand_id}}</span>
                </td>
                <td>{{model.model}}</td>
                <td class="actions-cell">
                    <!-- <i class="fa-solid fa-ellipsis" (click)="menu.toggle($event)"></i> -->
                    

                    <button type="button" pButton icon="pi pi-bars" label="" (click)="selectedItem = model;menu.toggle($event)"></button>
                    
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="transparent-bkg" [attr.colspan]="carModels.length">
                    لا توجد بيانات بعد
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                الاجمالي {{carModels ? carModels.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</main>
<!-- Actions menu -->
<p-menu #menu [popup]="true" [model]="actionList" appendTo="body"></p-menu>
<!-- Add modal -->
<p-dialog [dismissableMask]="true"  #addDialog header="اضافة موديل" [(visible)]="visibleAddDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newModelForm" (ngSubmit)="onAddModel()">
        <div class="form-group d-flex flex-row my-4">
            <p-dropdown appendTo="body" placeholder="نوع السيارة " [options]="carBrands" formControlName="brand" optionLabel="brand"></p-dropdown>
        </div>
        <div class="form-group my-4">
            <input placeholder="اسم الموديل" class="form-control py-4" formControlName="modelName">
        </div>
        
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onAddModel()" label="اضافة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Update modal -->
<p-dialog [dismissableMask]="true"  #addDialog [header]=" 'تعديل '+ selectedItem.model " [(visible)]="visibleUpdateDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newModelForm" (ngSubmit)="onUpdateModel()">
        <div class="form-group d-flex flex-row my-4">
            <p-dropdown appendTo="body" placeholder="بلد المنشأ" [options]="carBrands" formControlName="brand" optionLabel="brand"></p-dropdown>
        </div>
        <div class="form-group my-4">
            <input placeholder="اسم الموديل" class="form-control py-4" formControlName="modelName">
        </div>
        
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onUpdateModel()" label="حفظ" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- Archive modal -->
<p-dialog [dismissableMask]="true"  [header]="'ارشفة '+ selectedItem.model " [(visible)]="visibleArchiveDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> هل انت متأكد انك تريد مسح هذا العنصر ؟ </p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onArchiveModel()" label="ارشفة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Delete modal -->
<p-dialog [dismissableMask]="true"  [header]="'حذف '+ selectedItem.model " [(visible)]="visibledeleteDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> سيتم حذف جميع المنتجات التابعة لهذا النوع , هل انت متأكد؟</p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onDeleteModel()" label="حذف" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


