<!--Page Header -->
<div class="d-flex flex-row justify-content-between page-header">
    <h4>الموردين</h4>
    <p-button label="اضافة مورد" (click)="showAddDialog()"  styleClass="p-button-sm"></p-button>
</div>
<!-- List section -->
<main class="my-3">
    <p-table dir="rtl"  
    rowGroupMode="rowspan" 
    groupRowsBy="carBrand_id" 
    sortField="carBrand_id" 
    sortMode="single" 
    responsiveLayout="scroll"
    [value]="systemSuppliers" 
    [paginator]="true" 
    [rows]="10" 
    [totalRecords]="systemSuppliers.length">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>اسم الشركة</th>
                <th>اسم المورد</th>
                <th>الهاتف </th>
                <th>العنوان </th>
                <th>تاريخ الاضافة </th>
                <!-- <th>الاجرائات</th> -->
            </tr>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" pTemplate="body" let-supplier let-columns="columns"
        let-rowgroup="rowgroup" let-rowspan="rowspan">
            <tr>
                
                <td>{{supplier.companyName}}</td>
                <td>{{supplier.personName}}</td>
                <td>{{supplier.phone?supplier.phone:'-'}}</td>
                <td>{{supplier.address?supplier.address:'-'}}</td>
                <td style="direction: ltr;">{{supplier.addedAt | date:'dd-MM-YYYY'}} {{supplier.addedAt | date:'hh:mm a'}}
                    
                </td>
                <!-- <td class="actions-cell">
                    

                    <button type="button" pButton icon="pi pi-bars" label="" (click)="selectedItem = supplier;menu.toggle($event)"></button>
                    
                </td> -->
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="transparent-bkg" [attr.colspan]="systemSuppliers.length">
                    لا توجد بيانات بعد
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                الاجمالي {{systemSuppliers ? systemSuppliers.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</main>
<!-- Actions menu -->
<p-menu #menu [popup]="true" [model]="actionList" appendTo="body"></p-menu>
<!-- Add modal -->
<p-dialog [dismissableMask]="true"  #addDialog header="اضافة مورد" [(visible)]="visibleAddDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newSupplierForm" (ngSubmit)="onAddSupplier()">
        
        <div class="form-group my-4">
            <input type="text" placeholder="اسم الشركة" class="form-control py-4" formControlName="companyName">
        </div>
        <div class="form-group my-4">
            <input type="text" placeholder="اسم المورد" class="form-control py-4" formControlName="personName">
        </div>
        <div class="form-group my-4">
            <input type="tel" placeholder="الهاتف" class="form-control py-4 text-right" formControlName="phone">
        </div>
        <div class="form-group my-4">
            <input type="text" placeholder="العنوان" class="form-control py-4" formControlName="address">
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onAddSupplier()" label="اضافة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Update modal -->
<!-- <p-dialog [dismissableMask]="true"  #addDialog [header]=" 'تعديل '+ selectedItem.model " [(visible)]="visibleUpdateDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <form class="my-4" [formGroup]="newSupplierForm" (ngSubmit)="onUpdateModel()">
        <div class="form-group d-flex flex-row my-4">
            <p-dropdown appendTo="body" placeholder="بلد المنشأ" [options]="carBrands" formControlName="brand" optionLabel="brand"></p-dropdown>
        </div>
        <div class="form-group my-4">
            <input placeholder="اسم الموديل" class="form-control py-4" formControlName="modelName">
        </div>
        
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onUpdateModel()" label="حفظ" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->
<!-- Archive modal -->
<p-dialog [dismissableMask]="true"  [header]="'ارشفة '+ selectedItem.fullName " [(visible)]="visibleArchiveDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> هل انت متاكد انك تريد مسح هذا المستخدم؟</p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onArchiveSupplier()" label="ارشفة" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<!-- Delete modal -->
<p-dialog [dismissableMask]="true"  [header]="'حذف '+ selectedItem.fullName " [(visible)]="visibledeleteDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
   
    <p class="text-right rmv-desc"> سيتم حذف هذا المورد للابد  , هل انت متأكد؟</p>
    <ng-template pTemplate="footer">
        <p-button class="" icon="pi pi-check" (click)="onDeleteSupplier()" label="حذف" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


