<div class="d-flex flex-row justify-content-between page-header">
    <h4>مرتجع العملاء </h4>
</div>
<main class="my-3">
    <p-table dir="rtl"  
    responsiveLayout="scroll" 
    #salesToReturnData
    [value]="salesInvoices" 
    [globalFilterFields]="['invoiceId']"
    
    [paginator]="true" 
    [rows]="10" 
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    [totalRecords]="paginationOptions.totalRecords">

    <ng-template pTemplate="caption">
        <div class="table-header text-right d-flex flex-row justify-content-between align-items-baseline px-2">
            <span class="p-input-icon-left my-2 filter-container">
                
                    <input  class="form-control" pInputText type="text" [(ngModel)]="searchFilter" (input)="applyFilterGlobal($event)" placeholder="ابحث برقم الفاتورة" />
            </span>
            <button pButton label="مسح البحث" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearSearch()"></button>
        </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>رقم الفاتورة </th>
                <th>التاريخ </th>
                <th>السلع</th>
                <th>اجمالي الفاتورة</th>
                <th>المخزن</th>
                <th>الحالة</th>
                <th>الاجرائات</th>
                <!-- <th></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice let-columns="columns">
            <tr>
                <td><strong>{{invoice.invoiceId}}</strong></td>
                <td style="direction: ltr;"> {{invoice.creationDate | date:'dd-MM-YYYY'}} {{invoice.creationDate | date:'hh:mm a'}}</td>
                
                <td >
                    <div *ngFor="let item of invoice.orderItems;let i = index">
                        <h6 class="item-name">
                            <span class="badge badge-warning">
                                {{item.product.productName + "  "}} {{item.product.manufacturerCountery}}  <br> 
                                <span class="my-2"> عدد القطع x<strong>{{item.quantity}} </strong></span> <br>
                               <span class="my-1"> {{item.product.piecePrice}} جنية للقطعة</span> 
                            </span> 
                            <span *ngIf="item.isReturned == 1" class="font-italic text-danger"> مرتجع</span>
                             <span *ngIf="i <invoice.orderItems.length -1"> , </span>
                         </h6>
                    </div>
                    
                </td>
                <td>{{invoice.recievedFees}} جنية </td>
                <td>{{invoice.storage?invoice.storage.storageName:'الجميع'}}</td>
                <td *ngIf="invoice.done == 1"><span class="badge badge-success">خالصة </span></td>
                <td *ngIf="invoice.done == 0" ><span class="badge badge-danger">لم تنتهي بعد</span></td>
                <td class="actions-cell" >
                    <button   type="button" pButton icon="pi pi-bars" label="" (click)="selectedInvoice = invoice;menu.toggle($event)"></button>
                    
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="transparent-bkg" [attr.colspan]="salesInvoices.length">
                    لا توجد بيانات بعد
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                الاجمالي {{salesInvoices ? salesInvoices.length : 0 }}
            </div>
        </ng-template>
    </p-table>
    <p-menu #menu [popup]="true" [model]="actionList" appendTo="body" ></p-menu>
</main>

<!-- return items modal -->
<p-dialog [dismissableMask]="true"  [header]="'استرجاع عناصر من فاتورة '+ selectedInvoice.invoiceId " [(visible)]="visibleReturnDialog" [modal]="true" [draggable]="false" [style]="{width: '50vw'}">
    <div class="" >
        <h6 class="d-flex text-right mb-4">  {{selectedInvoice.creationDate |date:'dd-MM-YYYY'}}</h6>
        <h4 *ngIf="isAllReturned.length" class="d-flex text-right"> اختار العناصر المراد استرجاعها</h4>
        <h4 *ngIf="!isAllReturned.length" class="d-flex text-right"> لا توجد عناصر او جميع العناصر تم استرجاعها مسبقا</h4>
        
        <div  *ngFor="let item of selectedInvoice.orderItems;let i = index">
            <div *ngIf="item.isReturned == 0" class="d-flex flex-row py-3 invoice-item ">
                <p-checkbox styleClass="ml-2" name="invoiceItems" [value]="item" [(ngModel)]="numberOfInvoceItems[i]" (onChange)="onSelectInvoiceItem($event,i)"></p-checkbox>
                <div class="d-flex flex-column">
                    <h6>{{item.product.productName + ' ' + item.product.manufacturerCountery }}</h6>
                    <h6>الكمية : {{item.quantity}}</h6> 
                    <h6>السعر : {{item.fee}} جنية</h6> 
                    
                    
                </div>
            </div>

            
            

        </div>
    </div>
    <ng-template pTemplate="footer" >
        <p-button *ngIf="isAllReturned.length" icon="pi pi-check" (click)="returnItems()" label="استرجاع" styleClass="p-button-text"></p-button>
    </ng-template>
    
</p-dialog>