@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');
.btn-nav-toggle{
    min-width: 30px;
    background-color: #fddb19 !important;
    border-color: #fddb19 !important;
    &:hover{
        background-color: #ffe449 !important;
        border-color: #ffe449 !important;
    }
    &:focus{
        background-color: #ffe449 !important;
        border-color: #ffe449 !important;
    }
}
.admin-nav{
    background-color: #fff !important;
    font-family: 'Tajawal', sans-serif;
    margin: 0 !important;
}
.nav-link-main{
    font-size: 17px;
    &.active{
        color: #064d99 !important;
    }
}
::ng-deep{
    .storage-selection{
        width: 300px !important;
        background-color: #064d99;
        .p-dropdown-label{
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }
        .p-dropdown-clear-icon,.p-dropdown-trigger-icon{
            color: #fff;
        }
    }

    .storage-selection-mb{
        width: 200px !important;
        background-color: #064d99;
        display: block;
        @media (max-width:991px) {
            display: none;
        }
        .p-dropdown-label{
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }
        .p-dropdown-clear-icon,.p-dropdown-trigger-icon{
            color: #fff;
        }
    }
}